<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>iamnotdoinganything.xyz</title>
	</head>
	<body>
		<h1><a href="http://iamnotdoinganything.xyz">#</a> iamnotdoinganything.xyz</h1>
		<small>Brewing since <date date="2020-06-04">2020-06-04</date></small>

		<p>Feeling lost? Feeling left out of <code>#accountability</code>? You have come to the right place!</p>

		<p>&hellip;</p>

		<p>Just not at a good time&hellip; Coming soon &#8482;</p>
	</body>
</html>
